.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(white);
  min-height: 100vh;
  color: var(--color-0);
  z-index: -2;
}

.container__hero {
  position: relative;
  z-index: 1;
  height: 800px;
  display: flex;
  width: 100%;
  background-color: var(--color-0);
  overflow: hidden;
}

.container__hero img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__title {
  font-size: 75px;
  margin: auto 100px;
  padding: 20px 40px;
  color: white;
  max-width: 75vw;
}

.container__description {
  font-size: 35px;
  margin: 20px;
  padding: 50px 150px;
}

.container__list {
  /*background-color: var(--color-3);
  border: 1px solid var(--color-2);*/
  border-radius: 10px;
  padding: 40px 70px;
  z-index: 2;
}

.list__element {
  border-radius: 5px;
  padding: 0;
  margin: 30px 10px;
}

/* video links */

.vidLink {
  border-radius: 5px;
  display: inline-block;
  background-color: transparent;
  margin: 0px;
  height: 100%;
  width: 400px;
  position: relative;
}

.vidLink__content {
  grid-area: content;
  padding: 0px 10px;
}
.vidLink__content > * {
  margin: 20px 0;
}
.vidLink h1 {
  font-size: 20px;
}

.vidLink h2 {
  font-size: 15px;
  opacity: 0.6;
}

.vidLink__posted {
  font-size: 13px;
  opacity: 0.8;
  color: var(--color-2);
}

.vidLink__demo {
  font-size: 13px;
  opacity: 0.8;
  color: red;
}

.vidLink i {
  font-size: 100px;
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
  transform: translate(-50%, -50%);
  width: 100%; /* You can specify ANY width values here */
}

.vidLink__thumbnail:hover i {
  opacity: 0.5;
}

.vidLink__thumbnail {
  grid-area: image;
  position: relative;
  width: 100%;
  height: 230px;
}

.vidLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
}

/* Owner tools stylings */

.tools {
  background-color: var(--color-2);
  font-size: 25px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.tools button {
  border: none;
}

.tools i {
  margin: 0px 5px;
}

.trash {
  color: red;
}

.videoDelete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header"
    "delete cancel";
  grid-area: form;
}

.videoDelete__header {
  grid-area: header;
  font-size: 40px;
  margin: auto;
}

.videoDelete button {
  min-width: 150px;
  margin: 20px;
}

.delete {
  color: red;
}

.demoToggle {
  margin: auto;
  display: flex;
  justify-content: center;
}

.demoToggle input {
  width: auto;
  margin-left: 10px;
}

.demoToggle label {
  width: auto;
  margin-right: 10px;
}
