.navbarr {
  z-index: 1;
  background-color: var(--color-0);
  display: grid;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 110px;
}

.navbar__buffer {
  height: 110px;
  background-color: black;
}

.navbar__hamburger {
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: var(--color-3);
  border: none;
  background-color: transparent;
  margin: 10px;
}

.navbar__logo {
  margin-left: 50px;
}

.navbar__logo img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 80px;
}

/* navbar content*/

.navbar__nav {
  padding: 10px;
  min-width: 200px;
  background-color: var(--color-1);
  height: 100%;
}

.navbar__nav li {
  margin: 25px 10px;
  font-size: 30px;
}

.navbar__nav button {
  border: none;
}

.form__element {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.form__element label {
  font-size: 15px;
  color: var(--color-0);
  margin-bottom: 5px;
}

.form__element input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: var(--color-4);
  color: var(--color-1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  min-width: 350px;
}

.form__button {
  border: 1px solid var(--color-0);
  background-color: var(--color-2);
  padding: 10px;
  font-size: 20px;
  width: 60%;
  margin: 20px auto;
}

/* Modal Stylings */

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  min-width: 500px;
  min-height: 400px;
  top: 40px;
  left: 600px;
  right: 600px;
  background-color: var(--color-3);
  padding: 10px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 300px 1fr;
  justify-items: center;
  align-items: start;
  grid-template-areas:
    "logo minimize"
    "form form";
}

.modal form {
  margin: 0;
  border: 1px solid var(--color-0);
  border-radius: 5px;
  /*background-color: rgba(232, 255, 193, 0.4);*/
  background-color: rgba(27, 52, 75, 0.3);
  padding: 30px;
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal i {
  font-size: 30px;
}
.modal--minimize {
  border: none;
}

.modal img {
  width: 200px;
  margin: 20px;
  margin-left: 50px;
}
