.navbarr {
  z-index: 1;
  background-color: transparent;
  position: fixed;
  align-items: center;
  width: 100vw;
  height: 60px;
  z-index: 3;
  display: flex;
  background-color: var(--color-1);
  box-shadow: 1px 0px 1px 0px var(--color-3);
}

.navbar__buffer {
  background-color: var(--color-0);
  height: 60px;
}

.navbar__hamburger {
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: var(--color-3);
  border: none;
  background-color: transparent;
  margin: 20px;
  margin-right: 50px;
}

.navbar__logo img {
  height: 25px;
  border-radius: 5px;
  margin-right: 80px;
}

/* navbar top */
.navbar__top {
  height: 70px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  width: 250px;
  background-color: var(--color-1);
  color: var(--color-3);
  padding: 10px 0;
}

.navbar__top button,
.navbar__top a {
  border: none;
  margin: 0px 20px;
}

.navbar__top img {
  height: 30px;
  width: auto;
}

/* navbar content*/

.navbar__nav {
  max-width: 250px;
  background-color: var(--color-4);
  height: 100%;
}

.nav__dropdown {
  font-size: 30px;
  padding: 0;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
  display: inline;
}

.navbar__nav li {
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: 250px;
}

.navbar__nav button {
  border: none;
  width: 100%;
  display: flex;
  padding: 5px;
  margin: 0;
}

.navbar__nav a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fa-angle-double-down {
  font-size: 40px;
}

.navbar__nav button:hover,
.navbar__nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.accordion__summary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion__summary button:hover {
  background-color: transparent;
}
