.navbarr {
  z-index: 1;
  background-color: transparent;
  align-items: center;
  width: 100vw;
  height: 110px;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 60px;
}

.navbar__buffer {
  background-color: transparent;
}

.navbar__hamburger {
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: var(--color-3);
  border: none;
  background-color: transparent;
  margin: 20px;
  margin-right: 50px;
}

.navbar__logo img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 80px;
}

/* navbar content*/

.navbar__nav {
  min-width: 200px;
  background-color: var(--color-1);
  height: 100%;
}

.nav__dropdown {
  font-size: 30px;
  padding: 0;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
  display: inline;
}

.navbar__nav li {
  font-size: 30px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  min-width: 250px;
}

.navbar__nav button {
  border: none;
  width: 100%;
  display: flex;
  padding: 5px;
  margin: 0;
}

.navbar__nav a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fa-angle-double-down {
  font-size: 40px;
}

.navbar__nav button:hover,
.navbar__nav a:hover {
  background-color: rgba(165, 236, 214, 0.1);
  transition: 0.3s;
}

.accordion__summary:hover {
  background-color: rgba(165, 236, 214, 0.1);
}

.accordion__summary button:hover {
  background-color: transparent;
}
